<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    <servlet>
        <servlet-name>Tests</servlet-name>
        <servlet-class>com.sfc.servlet.Tests</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Tests</servlet-name>
        <url-pattern>/Tests</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.sfc.servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PaiHang</servlet-name>
        <servlet-class>com.sfc.servlet.PaiHangServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PaiHang</servlet-name>
        <url-pattern>/PaiHang</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>newBook</servlet-name>
        <servlet-class>com.sfc.servlet.newBookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>newBook</servlet-name>
        <url-pattern>/newBook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.sfc.servlet.AdminLoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BookAdd</servlet-name>
        <servlet-class>com.sfc.servlet.BookAddServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BookAdd</servlet-name>
        <url-pattern>/BookAdd</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadMain</servlet-name>
        <servlet-class>com.sfc.servlet.ReadMainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReadMain</servlet-name>
        <url-pattern>/ReadMain</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadSingle</servlet-name>
        <servlet-class>com.sfc.servlet.ReadSingleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReadSingle</servlet-name>
        <url-pattern>/ReadSingle</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadContents</servlet-name>
        <servlet-class>com.sfc.servlet.ReadContentsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReadContents</servlet-name>
        <url-pattern>/ReadContents</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Press</servlet-name>
        <servlet-class>com.sfc.servlet.PressServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Press</servlet-name>
        <url-pattern>/Press</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>com.sfc.servlet.ProductServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Product</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>S2pr/index.html</welcome-file>
        <welcome-file>webPage/index1.html</welcome-file>
    </welcome-file-list>
</web-app>