@charset "utf-8";
body,ul {
	padding: 0;
	margin: 0;
	
}
ul {
	list-style: none;
}
.wrap {
	POSITION: relative;
	WIDTH: 1200px;
	height: 360px;
	margin: 100px auto auto;
}
.content {
	position: absolute;
	width: 1200px;
	height: 360px;
}
.content li{
	position: absolute;
	background-size: contain;
	background-repeat: repeat-y;
	background-position: center;
	font-size: 50px;
	font-weight: bold;
	color: white;
	text-align: center;
	line-height: 300px;
	cursor: pointer;
}
.wrap a {
	position: absolute;
	display: none;
	z-index: 5;
	top: 50%;
	width: 60px;
	height: 60px;
	margin-top: -30px;
	font: 36px/60px "宋体";
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #CBD0D8;
	background: rgba(203, 208, 216, .6);
	transition: background 1s ease;
}
.wrap a:hover {
	background: #007AFF;
}
.prev {
	left: 85px;
}
.next {
	right: 115px;
}

#navDiv{
	display: inline-block;
	position: absolute;
	height: 10px;
	bottom: -25px;
}